.trustedBg {
    background: #3333330D;
    padding: 5rem 0;
}

.trustedText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.trustedText h1 {
    font-size: 46px;
    font-weight: 600;
    color: #333333;
}

.trustedText p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

.divider_line {
    background: #A3E503;
    width: 150px;
    height: 10px;
}

.addressContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    padding-top: 25px;
}

.addressContainer img {
    width: 16px;
    height: 16px;
}

@media (max-width: 1024px) {

    .trustedText h1 {
        font-size: 28px;
    }

    .trustedText p {
        font-size: 16px;
    }

    .contactform {
        padding-top: 25px;
    }
}

@media (max-width: 768px) {

    .trustedText h1 {
        font-size: 28px;
    }

    .trustedText p {
        font-size: 15px;
    }

    .contactform {
        padding-top: 25px;
    }
}

@media (max-width: 568px) {

    .trustedText h1 {
        font-size: 28px;
    }

    .trustedText p {
        font-size: 15px;
    }

    .contactform {
        padding-top: 25px;
    }
}