.faq {
  padding: 4rem 2rem;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.faq h1{
  font-size: 50px;
  font-weight: 600;
  color: #333333;
}
.title {
  font-size: 28px;
  font-weight: 900;
  color: #111827;
  margin-bottom: 3rem;
}

.faqList {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faqItem {
  border-bottom: 1px solid #333333;
}

.question {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 0 34px 0;
  background: none;
  border: none;
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
  line-height: 1.2;
  gap: 1rem;
}

.icon {
  font-size: 28px;
  color: #111827;
  min-width: 32px;
  text-align: center;
  font-weight: 300;
  margin-top: -5px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding-right: 3rem;
  text-align: left;
  padding-left: 48px;
}

.faqItem.active .answer {
  max-height: 1000px;
  padding-bottom: 2rem;
}

.answer p {
  color: #6B7280;
  line-height: 1.5;
  font-size: 18px;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .faq {
    padding: 4rem 1.5rem;
  }

  .title {
    font-size: 28px;
    margin-bottom: 2rem;
  }

  .question {
    font-size: 18px;
    padding: 1.5rem 0;
  }

  .answer p {
    font-size: 20px;
  }

  .icon {
    font-size: 18px;
    min-width: 24px;
  }
}

.viewAllWrapper {
  text-align: center;
  margin-top: 3rem;
}

.viewAllButton {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background: #333333;
  color: white;
  padding: 12px 47px;
  /* border-radius: 0.5rem; */
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.viewAllButton:hover {
  background: #111827;
}

.arrow {
  transition: transform 0.2s;
}

.viewAllButton:hover .arrow {
  transform: translateX(4px);
}