.formBg{
    background: #fff;
    padding: 25px 70px;
    border-radius: 10px;
    max-width: 457px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 26px; */
    min-height: 500px;
}
.btn{
    background: #333333;
    color: #fff;
    padding: 6px 30px;
    border: none;
    font-size: 13px;
    border-radius: 3px;
}
.h1{
    font-size: 24px;
    color: #050D19;
}
.p{
    color: #000000;
    font-size: 12px;
    line-height: 1.4;
}